[Unit]
Description=Briza
After=bluetooth.service
[Service]
Type=simple
RemainAfterExit=true
ExecStart=/home/root/Ridley/ProjectRidly/brizastartup.sh
Environment="HOME=/home/root/Ridley/"
WorkingDirectory=/home/root/Ridley/
[Install]
WantedBy=multi-user.target
